@tailwind base;
@tailwind components;
@tailwind utilities;

.ribbonstyle {
    background-color: rgb(200 0 0);
    margin: 1vw;
    height: 8vw;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg) translate(15vw, -20vw);
}

.spacemono {
    font-family: 'SpaceMono';
}
